{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@database": "./src/database",
          "@graphql": "./src/graphql",
          "@utils": "./src/utils"
        }
      }
    ]
  ]
}
